
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(28, 187, 180);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(28, 187, 180);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgb(28, 187, 180);
}

.styled-table button {
    background-color: white;
    color: rgb(28, 187, 180);
    font-weight: bold;
    border: 2px solid rgb(28, 187, 180);
    box-shadow: 3px 3px 10px 1px rgba(227, 227, 227, 0.7);
    padding: 10px;
    cursor: pointer;
}